* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(222, 26%, 31%);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* Header of calculator */

.calculator {
  /* background-color: white; */
  width: 25rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header h1 {
  font-size: 1.3rem;
  text-align: center;
}

.theme-switch {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.theme-switch {
  font-weight: bold;
  font-size: 0.95rem;
}

.toggle-theme {
  width: 5rem;
}

.one-two-three-theme {
  display: flex;
  justify-content: center;
}

.one-two-three-theme p {
  word-spacing: 0.7rem;
}

.toggle-bettwen-button {
  background-color: hsl(223, 31%, 20%);
  border-radius: 20px;
  width: 4rem;
  height: 1.2rem;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  color: black;
}

.ball {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: hsl(25, 98%, 40%);
  position: absolute;
  top: 3px;
  left: 3px;
}

/* Calculator answer display */

.display-answer {
  background-color: hsl(224, 36%, 15%);
  border-radius: 10px;
  margin: 2rem 0;
  padding: 1rem 0;
  height: 1-rem;
}

.display-numbers {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 2rem;
  font-size: 2rem;
}

.answer {
  opacity: 0.6;
  font-size: 1.4rem;

  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 2rem;
}

/* Calculator keyboard */

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  justify-content: center;
  gap: 1rem;
  background-color: hsl(223, 31%, 20%);
  padding: 1.3rem;
  border-radius: 15px;
}

.key {
  background-color: hsl(45, 7%, 89%);
  border-radius: 10px;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  cursor: pointer;
  box-shadow: 0 4px hsl(28, 16%, 65%);
}

.key p {
  color: hsl(221, 14%, 31%);
  font-size: 1.5rem;
  font-weight: bold;
}

.reset {
  grid-column: span 2;
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 4px hsl(224, 28%, 35%);
}

.equal {
  grid-column: span 2;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 4px hsl(6, 70%, 34%);
}

.delete {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 4px hsl(224, 28%, 35%);
}

.equal p,
.reset p,
.delete p {
  color: white;
}
